<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style/authorization.css}" rel="stylesheet"/>
    <title>Authorization</title>
</head>
<body>
    <form class="authorization-background" method="post">
        <div id="auth_div">
            <legend>Sign In Store SNS</legend>
            <p><label for="input_username" id="auth_login">Login</label></p>
            <input type="text" id="input_username" name="username">
            <p><label for="input_password" id="auth_password">Password</label></p>
            <input type="password" id="input_password" name="password">
            <div th:if="${param.error}">
                <p id="auth_error">ERROR!</p>
            </div>
            <p>
            <button type="submit">Sign In</button>
            </p>
        </div>
    </form>
</body>
</html>
