<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style/main.css}" type="text/css">
    <title>SNS Store</title>
</head>
<body>
  <dialog id="editEmployee">
    <legend>Sign up in SNS</legend>
    <p>Login</p>
    <input id="reg_login" type="text" name="username">
    <p>Email</p>
    <input id="reg_email" type="text" name="email">
    <p>Phone number</p>
    <input id="reg_phone" type="text" name="phone">
    <p>Password</p>
    <input id="reg_password" type="password" name="password">
    <p>Repeat password</p>
    <input id="reg_rep_password" type="password" name="passwordRep">
    <br>
    <select name="" id="selectRole">
        <option value="manager">Менеджер</option>
        <option value="develop">Разработчик</option>
        <option value="admin">Админ</option>
    </select>
    <h1 id="reg_error"></h1>
    <p>
    <button id="addEmployee" type="submit">Добавить</button>
    <button id="deleteEmployee" type="button">Удалить</button>
    </p>
  </dialog>
  <dialog id="editProduct" close>
    <legend>Products</legend>
    <p>Название</p>
    <input id="nameProduct" type="text">
    <p>Производитель</p>
    <input id="manufacturerProduct" type="text">
    <p>Категория</p>
    <input id="category" type="text">
    <p>Цена</p>
    <input id="priceProduct" type="text">
    <p>Количество</p>
    <input id="amountProduct" type="text">
    <br>
    <h1 id="reg_error"></h1>
    <p>
    <button id="addButtonProduct" type="submit">Добавить</button>
    <button id="deleteButtonProduct" type="button">Удалить</button>
    </p>
  </dialog>
  <form class="background">
    <div class="static_front">
      <div id="main_panel">
        <h1 id="appName">SNS Store</h1>
        <h2 id="role" sec:authorize="hasRole('ROLE_ADMIN')">Должность: Админ</h2>
        <h2 id="role" sec:authorize="hasRole('ROLE_MANAGER')">Должность: Менеджер</h2>
        <h2 id="role" sec:authorize="hasRole('ROLE_DEV')">Должность: Разработчик</h2>
      </div>
      <div id="panel">
        <button type="button" id="buttonProducts"><h2>Товары</h2></button>
        <button type="button" id="buttonEmployee"><h2>Сотрудники</h2></button>
      </div>
    </div>
    <div id="list_products">
      <div id="panel_products">
        <h3 id="name_product">Название</h3>
        <h3 id="category">Категория</h3>
        <h3 id="price">Цена</h3>
        <h3 id="amount">Количество</h3>
        <button id="editProductBtn" type="button" onclick="window.editProduct.showModal();">Edit</button>
      </div>
      <div id="products">
      </div>
    </div>
    <div id="list_employee" hidden>
      <div id="panel_employee">
        <h3 id="name_employee">ФИО</h3>
        <h3 id="post_employee">Должность</h3>
        <button id="editEmployeeBtn" type="button" onclick="window.editEmployee.showModal();">Edit</button>
      </div>
    </div>
    <script th:src="@{/scripts/main.js}"></script>
  </form>
</body>
</html>